<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="thumbnail">
                <img src="<%= post.image %>" class="img-responsive">
                <div class="caption">
                    <h4><%= post.title %></h4>
                    <p><a href="<%- post.link %>">Video Link</a></p>
                    <p><%- post.description %></p>
                    <p><strong>Submitted by:</strong> <em><%= post.author.username %></em> on <%= moment().format('LL') %></p>
                    <% if(currentUser && post.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-sm btn-warning" href="/posts/<%= post._id %>/edit">Edit</a>
                        <form class="deleteForm" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right"><a href="/posts/<%= post._id %>/comments/new" 
                class="btn btn-info">Add a Comment</a></div>
                <hr>
                <% post.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"> on <%= moment().format('LL') %></span>
                            <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                                <form class="deleteForm" action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            <% }%>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


<% include ../partials/footer %>